.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.heroTitle {
  font-size: 4rem;
  font-weight: 800;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 2rem;
}

.featureEmoji {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.features {
  display: flex;
  align-items: center;
  padding: 3rem 0;
  width: 100%;
}
